DATABASE_URL=postgresql://postgres:12345@localhost:5432/tictech

# OpenRouteService API Key for Isochrone Generation
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImUyNDlhYTIxOWJiYjRhMTZiNzA3OWM1Yzk5OWFjZTgyIiwiaCI6Im11cm11cjY0In0=